@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* THEME : LIGHT */
        --light-accent: hsl(240, 55%, 45%);
        --light-foreground: hsl(0, 0%, 0%);

        /* THEME : DARK */
        --dark-accent: hsl(240, 55%, 55%);
        --dark-foreground: hsl(0, 0%, 100%);

        --dark-glow: rgba(177, 142, 223, 0.2);
    }
}

.infinite-slide-left {
    animation: infinite-slide-left 30s linear infinite;
}

.infinite-slide-right {
    animation: infinite-slide-right 30s linear infinite;
}

@keyframes infinite-slide-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes infinite-slide-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

aside.EmojiPickerReact.epr-main {
    height: 270px !important;
}


::-webkit-scrollbar {
    width: 7px;
    background-color: rgb(32, 36, 39);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(21, 77, 77);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(23, 98, 119);
}